<body>
	<h1>Notes</h1>
	<br>
	<li>Download .csv of the database using buttons on the Addresses tab</li>
	<li>Downloaded .csv will contain all records for the selected node in the tree</li>
	<li>.csv files in the appropriate format can be imported using a similar button</li>
	<li>There is no error control on any of this, so if you screw up it doesn't fail gracefully</li>
	<br>
	<br>
	<h1>Issues List</h1>
	<br>
	<li>In mobile app, scrolling is jerky</li>
	<li>In mobile app, records at bottom of list remain below the viewport</li>
</body>
